html, body{
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: Aleo;
    src: url(Fonts/Aleo/Aleo-Regular.ttf);
}

@font-face {
    font-family: Aleo_Bold;
    src: url(Fonts/Aleo/Aleo-Bold.ttf);
}

@font-face {
    font-family: Architects_Daughter;
    src: url(Fonts/Architects_Daughter/ArchitectsDaughter.ttf);
}

@font-face {
    font-family: Couture;
    src: url(Fonts/Couture/couture-bld.otf);
}

@font-face {
    font-family: Delta;
    src: url(Fonts/Delta/Delta.ttf);
}

@font-face {
    font-family: Kocke;
    src: url(Fonts/Kocke/kocke.ttf);
}

@font-face {
    font-family: Hotlady;
    src: url(Fonts/Hotlady/Hotlady.ttf);
}

.frontPicSlides{
    display: none;
}

.redClose{
    color: red;
    cursor: pointer;
    font-size: 2em;
}


.descOpen{
    font-family: Aleo;
    color: white;
    float: right;
    margin: 1em 0.5em 0 0;
    cursor: pointer;
}

.descClose{
    font-family: Aleo;
    color: black;
    float: right;
    margin-right: 0.5em;
    cursor: pointer;
}

.whiteLettersItalic{
    color: white;
    font-family: Aleo;
    font-style: italic;
    text-align: center;
}

.whiteLettersDesc{
    color: white;
    font-family: Aleo;
    text-align: center;
    float: left;
    margin: 1em 0 0 0.5em;
}

.blackLettersDesc{
    color: black;
    font-family: Aleo;
    text-align: center;
    float: left;
    margin-left: 0.5em;
}

.whiteHeadingGrids{
    color: white;
    font-family: Aleo;
    text-align: center;
    cursor: pointer;
}

.whiteLettersGridText{
    color: white;
    font-family: Aleo;
    text-align: center;
    margin: 1em;
}

::placeholder{
}

.picMarginTop{
    margin-top: 1.5em;
    border-radius: 0.2em;
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.blueHover:hover{
    color: aquamarine;
}

.blueHoverBckg:hover{
    background-color: aquamarine;
}

.popHover:hover{
    transform: scale(1.3);
    transition: all ease .2s;
}

.rotateHoverLeft:hover{
    transform: scale(1.1) rotate(-10deg);
    transition: all ease .4s;
}

.rotateHoverRight:hover{
    transform: scale(1.1) rotate(10deg);
    transition: all ease .4s;
}

.products:hover{
    box-shadow: 1em -1em 1em gray;
}


.whiteLettersTopNav{
    font-family: Aleo;
    color:white;
    margin: 1em;
    cursor: pointer;
}

.blackLettersBackForward{
    font-family: Aleo;
    font-size: 1.1em;
    color: black;
    margin: 0 1em 0 1em;
    cursor: pointer;
}

/*TOP NAVIGATION*/

.topNavClass{
    background-color: white;
    border: thin solid aquamarine;
    border-radius: 1em;
    width: 98.75%;
    height: 11vh;
    position: fixed;
    top: 1;
    z-index: 2;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 100%;
}

#leftDivTopNav{
    background-color: black;
    border-radius: 1em 0 0 1em;
    padding: 0.6em;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

#middleDivTopNav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#rightDivTopNav{
    background-color: black;
    border-radius: 0 1em 1em 0;
    padding: 0.6em;
    display: flex;
    flex-direction: row-reverse;
    z-index: 2;
}

#frontPicture{
    line-height: normal;
    background-color: gray;
    width: 100%;
    height: 75vh;
    border-radius: 1em;
}

.frontPictureHide{
    display: none;
}

/*HOMEPAGE*/

#homeGrid{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%;
    gap: 0.3em;
    max-width: 99.65%;
    height: 217vh;
}

.homeGrids{
    border-radius: 0.5em;
    border: 0.15em solid aquamarine;
    overflow: hidden;
}

#homeGrid1{
    background-color: black;
}

#homeGrid2{

}

#homeGrid3{

}

#homeGrid4{
    background-color: black;
}

#homeGrid5{
    background-color: black;
}

#homeGrid6{

}

.gridHeadingLinks{
    color: white;
}

.blackHeading{
    color: black;
    font-family: Aleo;
    font-size: 2.3em;
    padding-top: 1em;
    text-align: center;
}

.blackHeadingBig{
    color: black;
    font-family: Aleo_Bold;
    font-size: 4em;
    padding-top: 1em;
    text-align: center;
}

/*PRODUCTS CATEGORIES*/

#productsCat{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
    gap: 0.1em;
    margin: 0 0 0 1em;
}

.catGrid{
    background-color: black;
    width: 31vw;
    height: 80vh;
    border: thin solid aquamarine;
    border-radius: 1em;
}

#fruitCat{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
}

#collectionCat{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 45%;
}

#personalCat{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
}

.productGridPic{
    text-align: center;
}

.productGridText{

}

.popPictureHover:hover{
    transform: scale(1.1);
    transition: all ease .3s;
}

/*PRODUCTS*/

.productsDiv3Class{
    margin: 0 0 0 0.6em;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
    /*border: thin solid red;*/
    justify-items: center;
    width: 98.2%; 
    height: 65vh;
}

.productsDiv6Class{
    margin: 0 0 0 0.6em;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    /*border: thin solid red;*/
    width: 98.2%; 
    height: 120vh;
}

.products{
    background-color: black;
    border: thin solid aquamarine;
    border-radius: 1em;
    width: 22vw;
    height: 55vh;
    text-align: center;
    box-shadow: 0.3em -0.3em 1em gray;
}

.descCard{
    background-color: aquamarine;
    border-radius: 1em;
    width: 22vw;
    height: 18.2vh;
    position: absolute;
    top: 30.7em;
    z-index: 1;
    transition: all ease .5s;
    display: none;
}

.descCard1{
    background-color: aquamarine;
    border-radius: 1em;
    width: 22vw;
    height: 18.2vh;
    position: absolute;
    top: 34.3em;
    z-index: 1;
    transition: all ease .5s;
    display: none;
}

.descCard11{
    background-color: aquamarine;
    border-radius: 1em;
    width: 22vw;
    height: 18.2vh;
    position: absolute;
    top: 58.2em;
    z-index: 1;
    transition: all ease .5s;
    display: none;
}

.descCard2{
    background-color: aquamarine;
    border-radius: 1em;
    width: 22vw;
    height: 18.2vh;
    position: absolute;
    top: 70em;
    z-index: 1;
    transition: all ease .5s;
    display: none;
}

.modal{
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.modalDesc{
    background-color: beige;
    width: 30vw;
    height: 75.6vh;
    position: relative;
    bottom: 32.1em;
    left: 48.6em;
}

.modalDescHP{
    background-color: beige;
    width: 30vw;
    height: 75.6vh;
    position: relative;
    bottom: 32.1em;
    left: 47.2em;
}

.modalPic{
    padding: 5em 25em 0 0;
}

.modalPicHP{
    padding: 5em 0 0 5em;
}


/*CONTACT US*/

#contactGrid{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 46% 5% 46%;
    gap: 1em;
    margin: 1em;
}

#phoneDiv{
    width: 100%;
    height: 71vh;
}

#borderDiv{
    border-left: thick solid black;
    width: 100%;
    height: 50vh;
    margin: 3.7em 0 0 1.7em;
}

#emailDiv{
    width: 100%;
    height: 71vh;
}

#contactInfo{
    text-align: center;
}

#contactHeading{
}

#phoneCont{
}

#emailCont{

}

.contactIcons{
    font-size: 8em;
    color: #15c4ca;
}

.socialIcons{
    font-size: 4em;
    margin: 2em;
}


#iconFB{
    color: blue;
}

#iconINST{

}

#iconPINT{
    color: red;
}

.contactCont{
    margin-top: 5em;
    font-family: Aleo;
}

/*QUESTIONS*/

#idQuestions{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#leftGridQuestions{
}

#rightGridQuestions{
}

.questionHeadingL{
    margin: 1.5em;
    font-family: Aleo;
    text-align: left;
}

.questionHeadingR{
    margin: 1.5em;
    font-family: Aleo;
    text-align: right;
}

.answerTextL{
    margin: 2.3em;
    font-family: Aleo;
    text-align: left;
}

.answerTextR{
    margin: 2em;
    font-family: Aleo;
    text-align: right;
}

/*BOTTOM NAVIGATION*/

.bottomNavClass{
    background-color: black;
    border: 0.15em solid aquamarine;
    border-radius: 1em;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 80% 20%;
}

.bottomNavGrid1{
    /*border: thin solid red;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
}

.bottomNavGrid2{
    /*border: thin solid green;*/
    margin: auto;
}

.bottNavSocial{
    /*border: thin solid yellow;*/
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 49% 1% 49%;
}

.borderSocial{
    border-left: thin solid white;
    height: 20vh;
    margin-top: 6em;
}

.bottNavIcons{
    /*border: thin solid lawngreen;*/
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
}

.bottNavLinks{
    /*border: thin solid purple;*/
    padding: 2em 0 0 0;
}

.bottLinks{
    font-family: Aleo;
    color: white;
    padding: 0 0 0 1.7em;
}

.smallBorder{
    border-left: thin solid white; 
    padding: 0 0 0 0.2em;
    margin-left: 2em;
}

.bottNavSmedia{
    /*border: thin solid white;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}

.bottNavIconsDim{
    font-size: 4em;
    text-align: center;
}

.bottNavNewsl{
    /*border: thin solid orange;*/
    text-align: center;
}

.formNewsL{
    margin: 4.7em 0 0 0 ;
}

.inputNewsL{
    font-size: 1em;
    height: 4vh;
    width: 18vw;
    border-radius: 0.3em;
}

.inputNewsLBtn{
    font-family: Aleo;
    margin: 0.4em 0 0 0;
    cursor: pointer;
}

/*PARTNERS*/

#partnersID{

}

.carousel{
    
}

.carousel1{
    display: none;
}

.carousel-items{
    border: thin solid red;
    width: 15vw;
    height: 20vh;
}


/****************************************************************
**************************MEDIA QUERIES**************************
****************************************************************/

/*MAX-WIDTH 280PX ORIENTATION PORTRAIT*/

#topNav1{
    display: none;
}

.topNavClass1{
    background-color: black;
    border-radius: 0.5em;
    width: 94%;
    height: 10vh;
    position: fixed;
    top: 1;
    z-index: 2;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.classDropdownMenu{
    background-color: black;
    border: thin solid aquamarine;
    border-radius: 0.5em;
    display: none;
    width: 50vw;
    height: 36vh;
    z-index: 3;
    position: fixed;
    top: 5em;
    left: 0.5em;
}

/*MAX-WIDTH 280PX ORIENTATION LANDSCAPE*/

#topNav11{
    display: none;
}

.topNavClas11{

}

.whiteLettersTopNav1{
    font-family: Aleo;
    color: white;
    font-size: 1.3em;
    margin: 0 0 0 1.6em;
}

.hr1{
    width: 40vw;
    color: white;
}

.whiteIcons{
    color: white;
    font-size: 2.4em;
}

#frontPicture1{
    display: none;
    background-color: gray;
    width: 100%;
    height: 50vh;
}



#homeGridA{
        display: none;
    }

.classHomeGridA{
    /*background-color: gray;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    width: 100%;
    height: 225vh;
}


.homeGridsA{
    background-color: black;
    border-radius: 0.5em;
    width: 100%;
    height: 73vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 43% 57%;
    }

.classGridPic1{
    text-align: center;
    }
    
.pics1{
    margin: 0 0 0 0;
    border-radius: 0.5em;
}

#idBottomNav1{
    display: none;
}

.classBottomNav1{
    background-color: black;
    border-radius: 0.5em;
    width: 100%;
    height: 142vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
}

.classGridBotNav1{
    /*border: thin solid red;*/
    width: 100%;
    height: 45vh;
}

#idGridBotNav3{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
}

.bottNavIconsDim1{
    font-size: 3.5em;
    margin: 0 0 0 0.5em;
}

.formNewsL1{
    text-align: center;
}

.inputNewsL1{
    width: 60vw;
    height: 3.5vh;
}

.inputNewsLBtn1{
    font-size: 1em;
}

.classBotNavLinks1{
    /*border: thin solid yellow;*/
}

.bottLinks1{
    font-family: Aleo;
    color: white;
    margin: 0 0 0 0.9em;
}

.bottLinks11{
    font-family: Aleo;
    color: white;
    margin: 0 0 0 1.3em;
}

.smallBorder1{
    border-left: thin solid white; 
    margin: 0 0 0 0.9em;
}

.logoDivBotNav1{
    text-align: center;
}

.logoBotNav1{
    position: relative;
    top: 0.5em;
}

/*CONTACT PAGE*/

#borderDiv1{
    display: none;
    border-top: thick solid black;
    width: 100%;
}

.headingQuestions1{
    display: none;
}

/*PRODUCT CATEGORIES, GIFTS PAGE*/

#productsCat1{
    display: none;
}

.productsCat1Class{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 100%;
}

.catGrid1{
    background-color: black;
    width: 100%;
    height: 83vh;
    border-radius: 0.3em;
    margin: 0 0 1em 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 23% 38.5% 38.5%;
}

.productGridPic1{
    border: thin solid green;
}

.whiteLettersGridText1{
        color: white;
        font-family: Aleo;
        font-size: 1.2em;
        text-align: center;
        margin: 1em;
}

.test{
    border: thin solid red;
}

.test1{
    border: thin solid yellow;
}

/*SMALL*/

@media only screen and (max-width: 280px) and (orientation: portrait) {
    /*TOP NAVIGATION*/
    .topNavClass{
        display: none;
    }

    #topNav1{
        display: block;
    }

    /*FRONT PICTURE*/
    #frontPicture{
        display: none;
    }

    #frontPicture1{
        display: block;
    }

    #izdvajamoID{
        font-size: 2em;
    }

    /*HOME GRID*/

    #homeGrid{
        display: none;
    }

    #homeGridA{
        display: block;
    }


    /*BOTTOM NAVIGATION*/
    .bottomNavClass{
        display: none;
    }
    
    #idBottomNav1{
        display: block;
    }

    /*PRODUCTS CATEGORIES, GIFTS PAGE*/

    #productsCat{
        display: none;
    }

    #productsCat1{
        display: block;
    }

    /*CONTACT PAGE*/
    #socialNetworkDiv{
        display: none;
    }

    #contactGrid{
        display: grid;
        grid-template-rows: 46% 5% 46%;
        grid-template-columns: 100%;
        gap: 1em;
        margin: 1em;
    }

    #borderDiv{
        display: none;
    }

    #borderDiv1{
        display: block;
    }

    #idHeadingQuestions1{
        display: none;
    }

    .headingQuestions1{
        display: block;
    }

    /* ABOUT US PAGE*/

    #idQuestions{
        display: block;
    }

    .carousel-items{
        width: 45vw;
        height: 20vh;
    }


}

@media only screen and (max-width: 280px) and (orientation: landscape) {

}

@media only screen and (min-width: 281px) and (max-width: 480px) and (orientation: portrait) {
    
}
