html, body{
    max-width: 100%;
    height: auto;
    overflow-x: hidden;
}

/*FONTS*/

@font-face {
    font-family: Aleo;
    src: url(Fonts/Aleo/Aleo-Regular.ttf);
}

@font-face {
    font-family: Aleo_Bold;
    src: url(Fonts/Aleo/Aleo-Bold.ttf);
}

@font-face {
    font-family: Architects_Daughter;
    src: url(Fonts/Architects_Daughter/ArchitectsDaughter.ttf);
}

@font-face {
    font-family: Couture;
    src: url(Fonts/Couture/couture-bld.otf);
}

@font-face {
    font-family: Delta;
    src: url(Fonts/Delta/Delta.ttf);
}

@font-face {
    font-family: Kocke;
    src: url(Fonts/Kocke/kocke.ttf);
}

@font-face {
    font-family: Hotlady;
    src: url(Fonts/Hotlady/Hotlady.ttf);
}

/*KEY FRAMES*/

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes bendRight {
    50% {transform: rotate(15deg);}
}

@keyframes bendLeft{
    50% {transform: rotate(-15deg);}
}

.frontPicSlides{
    display: none;
}

.redClose{
    color: red;
    cursor: pointer;
    font-size: 2em;
}


.descOpen{
    font-family: Aleo;
    color: white;
    float: right;
    margin: 1em 0.5em 0 0;
    cursor: pointer;
}

.descClose{
    font-family: Aleo;
    color: black;
    float: right;
    margin-right: 0.5em;
    cursor: pointer;
}

.whiteLettersItalic{
    color: white;
    font-family: Aleo;
    font-style: italic;
    text-align: center;
}

.whiteLettersDesc{
    color: white;
    font-family: Aleo;
    text-align: center;
    float: left;
    margin: 1em 0 0 0.5em;
}

.blackLettersDesc{
    color: black;
    font-family: Aleo;
    text-align: center;
    float: left;
    margin-left: 0.5em;
}

.whiteLettersDescCard{
    color: white;
    font-family: Aleo;
    text-align: center;
    float: left;
    margin-left: 0.5em;
}

.blackLettersDescBig{
    color: black;
    font-family: Aleo;
    text-align: center;
    float: left;
    margin-left: 0.5em;
}

.whiteHeadingGrids{
    color: white;
    font-family: Aleo;
    text-align: center;
    cursor: pointer;
}

.whiteHeadingGridsHP{
    color: white;
    font-family: Aleo;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}

.whgBottNav{
    color: white;
    font-family: Aleo;
    text-align: center;
    cursor: pointer;
}

.whgBottNav1{
    color: white;
    font-family: Aleo;
    text-align: center;
    cursor: none;
}

.whiteHeadingGridsCat{
    color: white;
    font-family: Aleo;
    text-align: center;
    cursor: pointer;
}

.whiteHeadingProducts{
    color: white;
    font-family: Aleo;
    text-align: center;
    cursor: pointer;
}

.whiteLettersGridText{
    color: white;
    font-family: Aleo;
    text-align: center;
    margin: 1em;
}

::placeholder{
}

.picMarginTop{
    margin-top: 1.5em;
    border-radius: 0.2em;
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.blueHover:hover{
    color: aquamarine;
}

.blueHover2:hover{
    color: #2832c2;
}

.redHover:hover{
    color: #ff0800;
}

.blueHoverBckg:hover{
    background-color: aquamarine;
}

.popHover:hover{
    transform: scale(1.3);
    transition: all ease .2s;
}

.popHoverLess:hover{
    transform: scale(1.1);
    transition: all ease .5s;
}

.rotateHoverLeft:hover{
    transform: scale(1.1) rotate(-10deg);
    transition: all ease .4s;
}

.rotateHoverRight:hover{
    transform: scale(1.1) rotate(10deg);
    transition: all ease .4s;
}

.products:hover{
    box-shadow: 1em -1em 1em gray;
}


.whiteLettersTopNav{
    font-family: Aleo;
    color:white;
    margin: 1em;
    cursor: pointer;
}

.blackLettersBackForward{
    font-family: Aleo;
    font-size: 1.1em;
    color: black;
    margin: 0 1em 0 1em;
    cursor: pointer;
}



/*TOP NAVIGATION*/

.topNavClass{
    background-color: white;
    border: thin solid aquamarine;
    border-radius: 1em;
    width: 99%;
    position: fixed;
    top: 1;
    z-index: 2;
    /*display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 100%;*/
    display: flex;
    flex-direction: row;
}

#leftDivTopNav{
    border: thin solid black;
    background-color: black;
    border-radius: 1em 0 0 1em;
    padding: 0.6em;
    display: flex;
    flex-direction: row;
    z-index: 2;
    width: 100%;
}

#middleDivTopNav{
    border: thin solid black;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 100%;
}

#rightDivTopNav{
    background-color: black;
    border-radius: 0 1em 1em 0;
    padding: 0.6em;
    display: flex;
    flex-direction: row-reverse;
    z-index: 2;
    width: 100%;
}

#frontPicture{
    line-height: normal;
    background-color: gray;
    width: 100%;
    height: 505px;
    border-radius: 1em;
}

.frontPictureHide{
    display: none;
}

/*HOMEPAGE*/

#homeGrid{
    /*border: thin solid red;*/
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%;
    gap: 0.3em;
    max-width: 99.65%;
    height: auto;
}

.homeGrids{
    border-radius: 0.5em;
    border: 0.15em solid aquamarine;
    overflow: hidden;
    text-align: center;
}

.homeGridsPic{
    /*margin: auto;*/
}

#homeGrid1{
    background-color: black;
}

#homeGrid2{

}

#homeGrid3{

}

#homeGrid4{
    background-color: black;
}

#homeGrid5{
    background-color: black;
}

#homeGrid6{

}

.gridHeadingLinks{
    color: white;
}

.blackHeadingSmall{
    color: black;
    font-family: Aleo;
    font-size: 2em;
}

.blackHeading{
    color: black;
    font-family: Aleo;
    font-size: 2.3em;
    padding-top: 1em;
    text-align: center;
}

.blackHeadingBig{
    color: black;
    font-family: Aleo_Bold;
    font-size: 4em;
    padding-top: 1em;
    text-align: center;
}

.blackTextSmall{
    color: black;
    font-family: Aleo;
    font-size: 1em;
}

.blackHeadingBlog{
    color: black;
    font-family: Aleo_Bold;
    padding: 0.5em ;
    font-size: 1.5em;
    text-align: start;
    display: inline-block;
}

.blackHeadingBlogEnd{
    color: black;
    font-family: Aleo_Bold;
    padding: 0.5em ;
    font-size: 1.5em;
    text-align: end;
    display: inline-block;
    /*width: 95%;*/
    margin-left: 67%;
}



.underHeadingBlog{
    color: black;
    font-family: Aleo;
    text-align: center;
    font-size: 1.4em;
}

.smallUnderHeadingBlog{
    color: black;
    font-family: Aleo;
    text-align: center;
}

.blackTextBlog{
    color: black;
    font-family: Aleo;
    margin: 0.8em ;
}

.blackTextBlogEnd{
    color: black;
    font-family: Aleo;
    margin: 0.8em ;
    text-align: end;
}

.blackHeadingTipsList{
    color: black;
    font-family: Aleo_Bold;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.5em;
}

.redHeadingTopList{
    color: #ff0800;
    font-family: Aleo_Bold;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.5em;
}

.blueHeadingTipsList{
    color: #2832c2;
    font-family: Aleo_Bold;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.5em;
}

.orangeHeading{
    color: #ff7900;
    font-family: Aleo_Bold;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.5em;
}

.dateTimeBlog{
    color: black;
    font-family: Aleo_Bold;
    margin: 0.8em ;
    display: flex;
    flex-direction: row-reverse;
}

/*PRODUCTS CATEGORIES*/

#productsCat{
    /*display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
    gap: 0.1em;
    margin: 0 0 0 1em;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em;
}

.catGrid{
    background-color: black;
    width: 31vw;
    height: 500px;
    border: thin solid aquamarine;
    border-radius: 1em;
}

#fruitCat{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
}


#collectionCat{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 45%;
}

#personalCat{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
}

.productGridPic{
    border: thin solid red;
    text-align: center;
}

.productGridText{
    text-align: center;
}

.popPictureHover:hover{
    transform: scale(1.1);
    transition: all ease .3s;
}

/*PRODUCTS*/

.productsBodyClass{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.products{
    background-color: black;
    border: thin solid aquamarine;
    border-radius: 1em;
    width: 22vw;
    height: 362px;
    margin-top: 2em;
    text-align: center;
    box-shadow: 0.3em -0.3em 1em gray;
}

.descCard{
    background-color: aquamarine;
    border-radius: 1em;
    width: 22vw;
    height: 0;
    position:relative;
    bottom: 5.8em;
    z-index: 1;
    overflow: hidden;
    transition: all ease 2s;
}

.modal{
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 4;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.modalDesc{
    background-color: beige;
    width: 30vw;
    height: 481px;
    position: relative;
    bottom: 32.1em;
    left: 48.6em;
}

.modalPic{
    padding: 5em 25em 0 0;
    width: auto;
    height: auto;
}


/*CONTACT US*/

#contactGrid{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 46% 5% 46%;
    gap: 1em;
    margin: 1em;
}

#phoneDiv{
    /*border: thin solid red;*/
    width: 100%;
}

#borderDiv{
    border-left: thick solid black;
    width: 100%;
    height: 380px;
    margin: 3.7em 0 0 1.7em;
}

#emailDiv{
    /*border: thin solid red;*/
    width: 100%;
}

#contactInfo{
    text-align: center;
}

#contactHeading{
}

#phoneCont{
}

#emailCont{

}

.contactIcons{
    font-size: 8em;
    color: #15c4ca;
}

.socialIcons{
    font-size: 4em;
    margin: 2em;
}


#iconFB{
    color: blue;
    transform: rotate(15deg);
    animation: bendLeft 3s infinite 1s;
}

#iconINST{
    transform: rotate(-15deg);
    animation: bendRight 3s infinite 2s;
}

#iconINST1{
    transform: rotate(-15deg);
    animation: bendRight 3s infinite 2s;
}

#iconINST2{
    transform: rotate(-15deg);
    animation: bendRight 3s infinite 2s;
}

#iconINST3{
    transform: rotate(-15deg);
    animation: bendRight 3s infinite 2s;
}

#iconPINT{
    color: red;
    transform: rotate(15deg);
    animation: bendLeft 3s infinite 3.1s;
}

#iconLINK{
    color: #0077b5;
    transform: rotate(-15deg);
    animation: bendRight 3s infinite 4s;
}

.contactCont{
    margin-top: 5em;
    font-family: Aleo;
}

#socialNetworkDiv{
    display: none;
}

/*QUESTIONS*/

#idQuestions{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#leftGridQuestions{
}

#rightGridQuestions{
}

.questionHeadingL{
    margin: 1.5em;
    font-family: Aleo;
    text-align: left;
}

.questionHeadingR{
    margin: 1.5em;
    font-family: Aleo;
    text-align: right;
}

.answerTextL{
    margin: 2.3em;
    font-family: Aleo;
    text-align: left;
}

.answerTextR{
    margin: 2em;
    font-family: Aleo;
    text-align: right;
}

/*BOTTOM NAVIGATION*/



.bottomNavClass{
    background-color: black;
    border: 0.15em solid aquamarine;
    border-radius: 1em;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 80% 20%;
}

.bottomNavGrid1{
    /*border: thin solid red;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
}

.bottomNavGrid2{
    /*border: thin solid green;*/
    margin: auto;
}

.bottNavSocial{
    /*border: thin solid yellow;*/
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 49% 1% 49%;
}

.borderSocial{
    border-left: thin solid white;
    height: 150px;
    margin-top: 6em;
}

.bottNavIcons{
    /*border: thin solid lawngreen;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.bottNavLinks{
    /*border: thin solid purple;*/
    padding: 2em 0 0 0;
}

.bottLinks{
    font-family: Aleo;
    color: white;
    padding: 0 0 0 1.7em;
}

.smallBorder{
    border-left: thin solid white; 
    padding: 0 0 0 0.2em;
    margin-left: 2em;
}



.bottNavSmedia{
    /*border: thin solid white;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}

.bottNavIconsDim{
    font-size: 4em;
    text-align: center;
}

.bottNavNewsl{
    /*border: thin solid orange;*/
    text-align: center;
}

.formNewsL{
    margin: 4.7em 0 0 0 ;
}

.inputNewsL{
    font-size: 1em;
    height: 25px;
    width: 18vw;
    border-radius: 0.3em;
}

.inputNewsLBtn{
    font-family: Aleo;
    margin: 0.4em 0 0 0;
    cursor: pointer;
}


.bottomLogoSmallerClass{
    display: none;
}

/*PARTNERS*/

#partnersID{

}

.carousel{
    
}

.carousel-items{
    border: thin solid red;
    width: 15vw;
    height: 160px;
}

/*BLOG PAGE*/
.test{
    border: thin solid red;
}

.blackHeadingBlogBig{
    color: black;
    font-family: Aleo_Bold;
    text-align: center;
    font-size: 3em;
    
}

#diyHeadCont{
    text-align: center;
}

#diyHeading{
    /*border: thin solid red;*/
    display: inline-block;
    width: 20vw;
    margin: auto;
}

#futureTips{
    display: inline-block;
    width: 100%;
    padding-top: 1em;
}

/*#diyHeading:hover{
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}*/



#blogMiddle{
    /*display: grid;
    grid-template-columns: 99.9%;
    grid-template-rows: 5% 21% 7% 16% 10% 41%;
    margin-left: 0.2em;
    height: 170em;*/
    display: flex;
    flex-direction: column;
    height: auto;
}

/*U TRENDU 1 - 2 - 3*/
#inTrendHeading{
    /*border: thin solid red;*/
    display: inline-block;
    height: 80px;
    width: 20%;
    margin: auto;
}

#blogTopDiv{
    /*border: thin solid black;*/
    display: flex;
    justify-content: space-around;
}

.carouselBlog{
}

.bTopClass{
    border: thin solid dimgray;
    border-radius: 0.5em;
    background-color: aliceblue;
    width: 30vw;
    height: 500px;   
}

.bTopImgClass{
    border: thin solid red;
    height: 265px;
    width: 25vw;
    margin: auto;
}

#blogMiddleDiv{
    border: thin solid dimgray;
    border-radius: 0.5em;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 32.9% 32.9% 32.9%;
    grid-template-rows: 100%;
    grid-gap: 0.5em;
    height: 440px;
}

.diyStepClass{
    /*border: thin solid green;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.stepHeadClass{
    text-align: center;
    font-family: Aleo;
}

.stepTxtClass{
    font-family: Aleo;
    text-align: center;
}

.diyUpClass{
    /*border: thin solid red;*/
}

.diyDownClass{
    /*border: thin solid black;*/
}

.stepImgClass{
    border: thin solid purple;
    border-radius: 0.5em;
}

#diyUp1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#diyDown2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#diyUp3{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#blogBottomDiv{
    /*border: thin solid blue;*/
    display: grid;
    grid-template-columns: 70% 29%;
    grid-template-rows: 100%;
    grid-gap: 0.5em;
    height: 1300px;
}

#bBottomLeft{
    /*border: thin solid red;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 49% 49%;
    grid-gap: 0.7em;
}

#bottTop{
    border: thin solid dimgray;
    border-radius: 0.5em;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
}

.bottSectionsGrid1{
    /*border: thin solid red;*/
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}

.bottSectionsGrid2{
    /*border: thin solid red;*/
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

.sectionTxtClass{
    /*border: thin solid yellow;*/
}

.sectionImgClass{
    border: thin solid green;
    border-radius: 0.5em;
}

#bottTop1{
}

#bottBottom{
    border: thin solid dimgray;
    border-radius: 0.5em;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
}

#bBottomRight{
    /*border: thin solid purple;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 18.8% 18.8% 18.8% 18.8% 18.8%;
    grid-gap: 0.5em;
}

.bottRposts{
    border: thin solid dimgray;
    border-radius: 0.5em;
    background-color: aliceblue;
    text-align: center;
}

/**************************************************************
IN TREND PAGE
**************************************************************/

/*TEXTS AND HOVERS*/

#topListsHeading{
    display: inline-block;
}

/**/

#inTrendMiddle{
    display: grid;
    grid-template-columns: 68% 32%;
    /*height: 100em;*/
}

#inTrendArticle{
    height: auto;
    text-align: justify;

}

#inTrendPicture1{
    
}

#inTrendPicture2{

}

#inTrendPicture1{
    
}

.inTrendPictureClass{
    background-color: gray;
    border-radius: 0.5em;
    height: 500px;
    width: 50vw;
    margin: auto;
}

#inTrendSections{
    /*border: thin solid green;*/
    text-align: center;
}

.leftBorder{
    border-left: thin solid black;
    border-bottom: thin solid black;
    border-radius: 0 0 0 0.5em;
}

/*DIY PAGE*/

#diyMiddle{
    display: grid;
    grid-template-columns: 30% 70%;
    min-height: 100;
}

#diyPast{
    /*border: thin solid green;*/
    display: block;
    min-height: 50em;
}

.rightBorder{
    border-right: thin solid black;
    border-bottom: thin solid black;
    border-radius: 0 0 0.5em 0;
}


#diyPresent{    
    /*border: thin solid red;*/
    min-height: 50em;
}

#diyPageStep1{
    display: block;
    text-align: justify;
}

#diyPageStep2{
    display: block;
    text-align: justify;
}

#diyPageStep3{
    display: block;
    text-align: justify;
}

.diyPageStepsClass{
    /*border: thin solid blue;*/
    min-height: 600px;
}

.diyPageImgClass{
    border: thin solid gray;
    /*background-color: gray;*/
    border-radius: 0.5em;
    width: 25vw;
    height: 300px;
}

#diyPageImg1{
    float: right;
}

#diyPageImg2{
    float: left;
}

#diyPageImg3{
    float: right;
}

#diyStep1H{
    margin: 0 0 0 8em;
}

#diyStep2H{
    margin: 0 0 0 10em;
}

#diyStep3H{
    margin: 0 0 0 8em;
}

.diyStepsTxt{
    
}


/*FUTURE TRENDS PAGE*/

#future3Heading{
    /*border: thin solid red;*/
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5em;
}

#nextTrendsHeading{
    margin-left: 4em;
}

#advicesHeading{
    margin-left: 4em;
}

.smallBorderBlack{
    border-left: thin solid black; 
    padding: 0 0 0 0.2em;
    margin-left: 2em;
}

#futureArticle{

}

#futureTrendPicture1{
    
}

#futureTrendPicture2{

}

#futureTrendPicture3{

}

#futureTrendPicture4{
    
}

#futureTrendPicture5{
    
}

#futureTrendPicture6{
    
}

.futureTrendPictureClass{
    background-color: gray;
    width: 80vw;
    height: 700px;
    margin: auto;
}

.futureTrendTextClass{
    text-align: justify;
}

/*
GIFTING TIPS
*/

#tipsArticle{
    text-align: justify;
}

#tipsArticle{

}

#tipsPicture1{
    
}

#tipsPicture2{
    
}

#tipsPicture3{
    
}

.tipsPictureClass{
    background-color: gray;
    width: 80vw;
    height: 700px;
    margin: auto;
}

/*TOP LISTS PAGE*/

#topListsMiddle{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: auto;
}

#leftList{
    /*border: thin solid blue;*/
    border-radius: 0.5em;
}

#rightList{
    /*border: thin solid blue;*/
    border-radius: 0.5em;

}

#presentList{
    border-radius: 0.5em;
    background-color: aliceblue;
}

.middleListPicture{
    border: thin solid red;
    border-radius: 0.5em;
    height: 400px;
    width: 95%;
    margin: auto;

}



/*MESSAGES FOR UNDER CONSTRUCTION AND REGULAR MAINTENANCE*/

.middleMessageClass{
    text-align: center;
}



