@font-face {
    font-family: Aleo;
    src: url(Aleo/Aleo-Regular.ttf);
}

a{
    text-decoration: none;
    cursor: pointer;
}

.blueHover:hover{
    color: aquamarine;
}

.popHover:hover{
    transform: scale(1.05);
}

.whiteLettersTopNav{
    font-family: Aleo;
    color:white;
    margin: 1em;
    cursor: pointer;
}

.topNavClass{
    background-color: white;
    width: 98.75%;
    height: 10vh;
    position: fixed;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 100%;
    top: 0;
    z-index: 1;
}

.bottomNavClass{
    width: 100%;
    height: 50vh;
    background-color: black;
    border-radius: 1em;
}

#leftDivTopNav{
    background-color: black;
    border-radius: 1em 0 0 1em;
    padding: 0.4em;
    display: flex;
    flex-direction: row;
}

#middleDivTopNav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightDivTopNav{
    background-color: black;
    border-radius: 0 1em 1em 0;
    padding: 0.4em;
    display: flex;
    flex-direction: row-reverse;
}

#frontPicture{
    line-height: normal;
    background-color: gray;
    width: 100%;
    height: 75vh;
    border-radius: 1em;
}

#homeGrid{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%;
    gap: 0.3em;
    max-width: 99.65%;
    height: 217vh;
}

.homeGrids{
    border-radius: 0.5em;
    overflow: hidden;
}

#homeGrid1{
    background-color: black;
}

#homeGrid2{
    border: thin solid black;
}

#homeGrid3{
    border: thin solid black;
}

#homeGrid4{
    background-color: black;
}

#homeGrid5{
    background-color: black;
}

#homeGrid6{
    border: thin solid black;
}

.whiteHeadingGrids{
    color: white;
    font-family: Aleo;
    text-align: center;
}

.whiteLettersGridText{
    color: white;
    font-family: Aleo;
    text-align: center;
}

.gridHeadingLinks{
    color: white;
}


#contactInfo{
    text-align: center;
}

#contactHeading{
}

.blackHeadingContactUs{
    color: black;
    font-family: Aleo;
    font-size: 2.3em;
    padding-top: 1em;
}

#contactGrid{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 46% 5% 46%;
    gap: 1em;
    margin: 1em;
}

#phoneDiv{
    width: 100%;
    height: 71vh;
}

#borderDiv{
    border-left: thick solid black;
    width: 100%;
    height: 50vh;
    margin: 3.7em 0 0 1.7em;
}

#emailDiv{
    width: 100%;
    height: 71vh;
}

.contactIcons{
    font-size: 8em;
}

.socialIcons{
    font-size: 4em;
    margin: 2em;
}

#iconFB{
    color: blue;
}

#iconINST{
    color: deeppink;
}

#iconPINT{
    color: red;
}

.contactCont{
    margin-top: 5em;
    font-family: Aleo;
}
