@keyframes bendRight {
    50% {transform: rotate(15deg);}
}

@keyframes bendLeft{
    50% {transform: rotate(-15deg);}
}

#iconINST1{
    display: none;
    
}

#iconINST2{
    display: none;
}

#iconINST3{
    display: none;
}

#topNav1{
    display: none;
}

.topNavClass1{
    background-color: black;
    border-radius: 0.5em;
    width: 94%;
    height: 65px;
    position: fixed;
    top: 1;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.classDropdownMenu{
    display: none;
}

.topNavClas11{

}

#logoBig{
    display: none;
}

.whiteLettersTopNav1{
    font-family: Aleo;
    color: white;
    font-size: 1.3em;
}

.hr1{
    width: 40vw;
    color: white;
}

.whiteIcons{
    color: white;
    font-size: 2.4em;
}

#frontPicture1{
    display: none;
}

#frontPicture2{
    display: none;
}

#homeGridA{
    display: none;
    }

.classHomeGridA{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


.homeGridsA{
    background-color: black;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    }

.classGridPic1{
    text-align: center;
    }

    #hg370Pic1{
        display: none;
    }

    #hg370Pic2{
        display: none;
    }

    #hg370Pic3{
        display: none;
    }

    #hg420Pic1{
        display: none;
    }

    #hg420Pic2{
        display: none;
    }

    #hg420Pic3{
        display: none;
    }
    
.pics1{
    margin: 0 0 0 0;
    border-radius: 0.5em;
}

#idBottomNav1{
    display: none;

}

.classBottomNav1{
    
}

.classGridBotNav1{
    /*border: thin solid red;*/
    background-color: black;
    border-radius: 0.5em;
    width: 100%;
    height: 300px;
    
}

#idGridBotNav3{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    text-align: center;
}

.bottNavIconsDim1{
    font-size: 3.5em;
    margin: 0 0 0 0.5em;
    /*border: thin solid red;*/
}

.formNewsL1{
    text-align: center;
}

.inputNewsL1{
    width: 60vw;
    height: 20px;
}

.inputNewsLBtn1{
    font-size: 1em;
}

.classBotNavLinks1{
    /*border: thin solid yellow;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.bottLinks1{
    font-family: Aleo;
    color: white;
    margin: 0 0 0 0.9em;
}

.bottLinks11{
    font-family: Aleo;
    color: white;
    margin: 0 0 0 1.3em;
}

.smallBorder1{
    border-left: thin solid white; 
    margin: 0 0 0 0.9em;
}

.logoDivBotNav1{
    text-align: center;
}

.logoBotNav1{
    position: relative;
    top: 0.5em;
}

/*CONTACT PAGE*/

#borderDiv1{
    display: none;
    border-top: thick solid black;
    width: 100%;
}

.headingQuestions1{
    display: none;
}

/*PRODUCT CATEGORIES, GIFTS PAGE*/

#imgCat11{
    /*visibility: hidden;*/
    display: none;
}

#imgCat21{
    /*visibility: hidden;*/
    display: none;
}

#imgCat31{
    /*visibility: hidden;*/
    display: none;
}

#productsCat1{
    display: none;
}

.productsCat1Class{
    
}

.catGrid1{
    background-color: black;
    width: 100%;
    height: 500px;
    border-radius: 0.3em;
    margin-bottom: 30px;
    /*display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 23% 38.5% 38.5%;*/
    display: flex;
    flex-direction: column;
}

.productGridPic1{
    border: thin solid green;
    height: 200px;
}

.whiteLettersGridText1{
        color: white;
        font-family: Aleo;
        font-size: 1.2em;
        text-align: center;
        margin: 1em;
}

.test{
    border: thin solid red;
}

.test1{
    border: thin solid yellow;
}

/*FRUIT BASKETS PAGE*/

#picture1Big{
    display: none;
}

#picture2Big{
    display: none;
}

#picture3Big{
    display: none;
}

/*GIFT COLLECTIONS PAGE*/

#picture101Big{
    display: none;
}

#picture102Big{
    display: none;
}

#picture103Big{
    display: none;
}

#picture104Big{
    display: none;
}

#picture105Big{
    display: none;
}

#picture106Big{
    display: none;
}

/*SPECIAL OCCASION PAGE*/

#picture201Big{
    display: none;
}

#picture202Big{
    display: none;
}

#picture203Big{
    display: none;
}


@media only screen and (max-width: 280px) {

    .blackHeading{
        font-size: 1.5em;
    }

    .blackHeadingBig{
        font-size: 2em;
    }

    .blackHeadingBlogBig{
        font-size: 2.5em;
    }
    
    /*TOP NAVIGATION*/
    .topNavClass{
        display: none;
    }

    #topNav1{
        display: block;
    }

    .classDropdownMenu{
        background-color: black;
        border: thin solid aquamarine;
        border-radius: 0.5em;
        width: 93%;
        height: 235px;
        z-index: 3;
        position: fixed;
        top: 5em;
        left: 0.5em;
        text-align: center;
    }

    /*FRONT PICTURE*/
    #frontPicture{
        display: none;
    }

    #frontPicture1{
        display: block;
        /*background-color: gray;*/
        width: 100%;
        height: 260px;
        text-align: center;
    }

    

    /*HOME GRID*/

    #homeGrid{
        display: none;
    }

    #homeGridA{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
    
    .homeGridsA{
        height: auto;
    }

    .pics1{
        margin-top: 0.5em;
        border-radius: 0.5em;
    }


    /*BOTTOM NAVIGATION*/
    .bottomNavClass{
        display: none;
    }
    
    #idBottomNav1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 1000px;
        border-radius: 0.5em;
    }

    #socialMediaIconsDiv{
        /*border: thin solid green;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }

    .bottNavIconsDim1{
        /*animation: bendLeft 3s infinite 1s;*/
    }

    #iconPINT{
        /*border: thin solid red;*/
    }

    #iconINST{
        /*border: thin solid red;*/
        position: relative;
        bottom: 35px;
    }

    .smallBorder1{
        height: 20px;
    }

    /*PRODUCTS CATEGORIES, GIFTS PAGE*/

    #productsCat{
        display: none;
    }

    #productsCat1{
        display: flex;
        flex-direction: column;
    }

    /*CONTACT PAGE*/
    #socialNetworkDiv{
        display: none;
    }

    #contactGrid{
        display: grid;
        grid-template-rows: 46% 5% 46%;
        grid-template-columns: 100%;
        gap: 1em;
        margin: 1em;
    }

    #borderDiv{
        display: none;
    }

    #borderDiv1{
        display: block;
    }

    #idHeadingQuestions1{
        display: none;
    }

    .headingQuestions1{
        display: block;
    }

    /* ABOUT US PAGE*/

    #idQuestions{
        display: block;
    }

    .carousel-items{
        width: 45vw;
        height: 150px;
    }

    /*CATEGORIES*/

    .productsBodyClass{
        flex-flow: column wrap;
    }

    .products{
        width: 99%;
        box-shadow: none;
    }

    .descCard{
        width: 100%;
    }


    .modal{
        width: 100%;
        height: auto;
    }

    .modalPic{
        width: 100%;
        height: auto;
    }

    .modalDesc{
        width: 100%;
        height: 300px;
        position: relative;
        left: 0em;
        bottom: 1.3em;
    }

    /*BLOG PAGE*/

    #inTrendHeading{
        /*border: thin solid red;*/
        width: 80vw;
        height: 70px;
        margin-left: 0.3em;
    }

    #blogMiddle{
        /*grid-template-rows: 3% 27% 3% 16% 10% 41%;
        display: block;*/
        display: flex;
        flex-direction: column;
        height: auto;
        
    }

    #blogTopDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bTopClass{
        width: 92.5vw;
        height: 550px;
        margin-top: 1em;
    }

    .bTopImgClass{
        width: 80vw;
    }

    #blogMiddleDiv{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #bottTop{
        display: block;
    }

    .bottSectionsGrid1{
        display: block;
    }

    .bottSectionsGrid2{
        display: block;
    }

    .blackHeadingBlogEnd{
        margin-left: 22%;

    }

    .sectionImgClass{
        height: 250px;
    }

    #diyHeading{
        /*border: thin solid red;*/
        width: 60vw;
    }

    .diyStepClass{
        display: flex;
        flex-direction: column;
    }

    #future3Heading{
        /*border: thin solid red;*/
        flex-direction: column;
        justify-content: space-evenly;
    }

    .smallBorderBlack{
        display: none;
    }

    #nextTrendsHeading{
        margin-left: 0em;
    }

    #topListsHeading{
        margin-left: 4em;
    }

    #advicesHeading{
        margin-left: 0em;
    }

    #blogBottomDiv{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #bBottomLeft{
        display: block;
    }

    /*IN TREND PAGE*/

    #inTrendMiddle{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #inTrendSections{
        /*display: flex;
        flex-direction: column;
        height: auto;*/
    }

    .inTrendPictureClass{
        width: 80vw;
        height: 250px;
    }

    #topListsHeading{
        /*border: thin solid red;*/
        font-size: 2em;
        position: relative;
        right: 2em;
    }

    /*DIY PAGE*/

    #diyMiddle{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    #diyPresent{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    #diyStep1H{
        /*border: thin solid red;*/
        text-align: center;
        margin: auto;
    }

    #diyStep2H{
        /*border: thin solid red;*/
        text-align: center;
        margin: auto;
    }

    #diyStep3H{
        /*border: thin solid red;*/
        text-align: center;
        margin: auto;
    }

    .diyPageStepsClass{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #diyPageStep1{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
    }

    #diyPageStep2{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
    }

    #diyPageStep3{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
    }

    .diyPageImgClass{
        width: 99%;
    }

    /*FUTURE TRENDS PAGE*/

    .futureTrendPictureClass{
        height: 250px;
    }

    .futureTrendTextClass{
        text-align: justify;
    }

    /*TOP LISTS PAGE*/

    #topListsMiddle{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
    }

    .middleListPicture{
        height: 250px;
    }

    /*GIFTING TIPS*/

    #tipsArticle{
        text-align: justify;
    }

    .tipsPictureClass{
        height: 250px;
    }

}

/*MAX-WIDTH 320PX*/
@media only screen and (min-width: 281px) and (max-width: 320px) {
    .blackHeadingBig{
        font-size: 2.5em;
    }

    /*FRONT PICTURE*/

    #frontPicture{
        display: none;
    }

    #frontPicture1{
        /*background-color: gray;*/
        display: block;
        height: 260px;
    }

    .frontPicSlides1{
        margin: 0 auto 0 auto;
    }

    
    /*TOP NAVIGATION*/
    .topNavClass{
        display: none;
    }

    #topNav1{
        display: block;
    }

    .topNavClass1{
        width: 95.05%;
        
    }

    .classDropdownMenu{
        background-color: black;
        border: thin solid aquamarine;
        border-radius: 0.5em;
        width: 93%;
        height: 235px;
        z-index: 3;
        position: fixed;
        top: 5em;
        left: 0.5em;
        text-align: center;
    }

    /*BOTTOM NAVIGATION*/
    .bottomNavClass{
        display: none;
    }
    
    #idBottomNav1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 1000px;
        border-radius: 0.5em;
    }

    .smallBorder1{
        height: 20px;
    }

    .classBotNavLinks1{
        margin-top: 0.2em;
    }

    #socialMediaIconsDiv{
        /*border: thin solid green;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;

    }

    #iconFB{

    }

    #iconINST{
        /*border: thin solid red;*/
        position: relative;
        bottom: 35px;
    }

    .bottNavIconsDim1{
        /*border: thin solid red;*/
        flex-basis: 20%;
    }

    #iconPINT{
       
    }

    /*HOMEPAGE GRID*/
    
    #homeGrid{
        display: none;
    }

    #homeGridA{
        /*border: thin solid red;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    .homeGridsA{
        height: auto;
    }

    .pics1{
        padding: 1em;
        border-radius: 2em;
    }

    /*ABOUT US*/

    #idQuestions{
        display: block;
    }

    .carousel-items{
        width: 45vw;
        height: 150px;
    }

    /*CONTACT*/

    #socialNetworkDiv{
        display: none;
    }

    #contactGrid{
        display: grid;
        grid-template-rows: 46% 5% 46%;
        grid-template-columns: 100%;
        gap: 1em;
        margin: 1em;
    }

    #borderDiv{
        display: none;
    }

    #borderDiv1{
        display: block;
    }

    /*PRODUCTS CATEGORIES, GIFTS PAGE*/

    #productsCat{
        display: none;
    }

    #productsCat1{
        display: flex;
        flex-direction: column;
    }

    /*CATEGORIES*/

    .productsBodyClass{
        flex-flow: column wrap;
    }

    .products{
        width: 99%;
        box-shadow: none;
    }

    .descCard{
        width: 100%;
    }

    .modal{
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .modalPic{
        width: 100%;
        height: auto;   
    }

    .modalDesc{
        width: 100%;
        height: 320px;
        position: relative;
        bottom: 2em;
        left: 0em;
    }

    .redClose{
        
    }

    /*BLOG PAGE*/

    #inTrendHeading{
        /*border: thin solid red;*/
        width: 99%;
        margin-top: 0.3em;
    }

    #blogMiddle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }


    #blogTopDiv{
        flex-direction: column;
        justify-content: space-between;
        height: 1700px;
    }

    .bTopClass{
        margin-left: 0;
        width: 99%;
        height: 530px;
    }

    .bTopImgClass{
        width: 90%;
    }

    #diyHeading{
        /*border: thin solid red;*/
        width: 99%;
    }

    #blogMiddleDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1100px;
    }

    .diyStepClass{
        display: flex;
        flex-direction: column;
    }

    #future3Heading{
        /*border: thin solid red;*/
        flex-direction: column;
    }

    #nextTrendsHeading{
        margin-left: 1em;
    }

    #advicesHeading{
        margin-left: 1em;
    }

    #blogBottomDiv{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #bBottomLeft{
        display: flex;
        flex-direction: column;
    }

    #bBottomRight{
        display: flex;
        flex-direction: column;
    }

    #bottTop{
        display: block;
    }

    #bottBottom{
        display: block;
    }

    .bottSectionsGrid1{
        display: block;
    }

    .bottSectionsGrid2{
        display: block;
    }

    .sectionImgClass{
        height: 250px;
    }

    .blackHeadingBlogEnd{
        margin-left: 33%;
    }

    /*IN TREND PAGE*/

    #inTrendMiddle{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .inTrendPictureClass{
        width: 80vw;
        height: 280px;
    }

    .arrowBlog{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.3em;
        height: 2em;
     }

     /*DIY PAGE*/

     #diyMiddle{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    #diyPresent{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    #diyStep1H{
        /*border: thin solid red;*/
        text-align: center;
        margin: auto;
    }

    #diyStep2H{
        /*border: thin solid red;*/
        text-align: center;
        margin: auto;
    }

    #diyStep3H{
        /*border: thin solid red;*/
        text-align: center;
        margin: auto;
    }

    .diyPageStepsClass{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #diyPageStep1{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
    }

    #diyPageStep2{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
    }

    #diyPageStep3{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
    }

    .diyPageImgClass{
        width: 99%;
    }

    /*FUTURE TRENDS PAGE*/

    .futureTrendPictureClass{
        height: 280px;
    }

    .futureTrendTextClass{
        text-align: justify;
    }

    /*TOP LISTS PAGE*/

    #topListsMiddle{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
    }

    .middleListPicture{
        height: 280px;
    }

    /*GIFTING TIPS PAGE*/

    .tipsPictureClass{
        height: 280px;
    }

}


/*MAX-WIDTH 480PX*/

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .blackHeadingBig{
        font-size: 3em;
    }

    /*FRONT PICTURE*/

    #frontPicture{
        display: none;
    }

    #frontPicture1{
        /*background-color: gray;*/
        display: block;
        height: 260px;
        width: 100%;
        margin: 0 0 0 0.1em;
    }

    .frontPicSlides1{
        margin: 0 auto 0 auto;
    }
    
    /*TOP NAVIGATION*/
    .topNavClass{
        display: none;
    }

    #topNav1{
        display: block;
    }

    .topNavClass1{
        width: 96.75%;
    }

    .classDropdownMenu{
        background-color: black;
        border: thin solid aquamarine;
        border-radius: 0.5em;
        width: 93%;
        height: 235px;
        z-index: 3;
        position: fixed;
        top: 5em;
        left: 0.5em;
        text-align: center;
    }

    .hr1{
        width: 31vw;
    }
    
    /*BOTTOM NAVIGATION*/
    .bottomNavClass{
        display: none;
    }
    
    #idBottomNav1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 1000px;
        border-radius: 0.5em;
    }

    .smallBorder1{
        height: 20px;
    }

    .classBotNavLinks1{
        margin-top: 0.5em;
    }

    #smallBorder16{
        display: none;
    }

    #socialMediaIconsDiv{
        /*border: thin solid green;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }

    #iconFB{
        /*position: relative;
        right: 0.7em;
        animation: bendLeft 3s infinite 1s;*/
    }

    #iconINST{
        /*border: thin solid red;*/
        position: relative;
        bottom: 35px;
    }

    #iconPINT{
        /*position: relative;
        right: 1em;*/
    }

    .bottNavIconsDim1{
        flex-basis: 30%;
    }

    .formNewsL1{
        margin: 4em 0 0 0;
    }

    /*HOMEPAGE GRID*/
    
    #homeGrid{
        display: none;
    }

    #homeGridA{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    .homeGridsA{
        height: auto;
        width: 80%;
        margin: 0 auto 0 auto;
    }

    .pics1{
        padding: 1em;
        border-radius: 2em;
    }

    /*CONTACT*/

    #socialNetworkDiv{
        display: none;
    }

    #contactGrid{
        display: grid;
        grid-template-rows: 46% 5% 46%;
        grid-template-columns: 100%;
        gap: 1em;
        margin: 1em;
    }

    #borderDiv{
        display: none;
    }

    #borderDiv1{
        display: block;
    }

    /*PRODUCTS CATEGORIES, GIFTS PAGE*/

    #productsCat{
        display: none;
    }

    #productsCat1{
        display: flex;
        flex-direction: column;
    }

    /*CATEGORIES*/

    .productsBodyClass{
        flex-flow: column wrap;
        justify-content: space-between;
    }

    .products{
        width: 70%;
        box-shadow: none;
        margin-left: 3.5em;
    }

    .descCard{
        width: 100%;
    }

    .modal{
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .modalPic{
        width: 100%;
        height: auto;
    }

    .modalDesc{
        width: 100%;
        height: 280px;
        position: relative;
        left: 0em;
        bottom: 1.9em;
    }

    /*ABOUT US*/

    .carousel-items{
        width: 21vw;
    }

    /*BLOG PAGE*/

    #blogMiddle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    #inTrendHeading{
        /*border: thin solid red;*/
        width: 99%;
        margin-top: 0.4em;
    }

    #blogTopDiv{
        flex-direction: column;
        justify-content: space-between;
        height: 1650px;
    }

    .bTopClass{
        height: 520px;
        width: 99.5%;
        margin-left: 0;
    }

    .bTopImgClass{
        width: 90%;
    }

    #diyHeading{
        /*border: thin solid red;*/
        width: 99%;
    }

    #blogMiddleDiv{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .diyStepClass{
        display: flex;
        flex-direction: column;
    }

    #future3Heading{
        /*border: thin solid red;*/
        margin-bottom: 0.5em;
        flex-direction: column;
        justify-content: space-between;
    }

    #nextTrendsHeading{
        margin-left: 1em;
    }

    #advicesHeading{
        margin-left: 1em;
    }

    #blogBottomDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    #bBottomLeft{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #bBottomRight{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bottRposts{
        height: 200px;
    }

    #bottTop{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #bottBottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bottSectionsGrid1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bottSectionsGrid2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sectionImgClass{
        height: 250px;
    }

    /*IN TREND PAGE*/

    #inTrendMiddle{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .inTrendPictureClass{
        width: 80vw;
        height: 250px;
    }

    .arrowBlog{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.5em;
        height: 2em;
     }

     /*DIY PAGE*/

     #diyMiddle{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    #diyPresent{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    #diyStep1H{
        /*border: thin solid red;*/
        text-align: center;
        margin: auto;
    }

    #diyStep2H{
        /*border: thin solid red;*/
        text-align: center;
        margin: auto;
    }

    #diyStep3H{
        /*border: thin solid red;*/
        text-align: center;
        margin: auto;
    }

    .diyPageStepsClass{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #diyPageStep1{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
    }

    #diyPageStep2{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
    }

    #diyPageStep3{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
    }

    .diyPageImgClass{
        width: 99%;
    }

    /*FUTURE TRENDS PAGE*/

    .futureTrendPictureClass{
        height: 250px;
    }

    .futureTrendTextClass{
        text-align: justify;
    }

    /*TOP LISTS PAGE*/

    #topListsMiddle{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
    }

    .middleListPicture{
        height: 250px;
    }

     /*GIFTING TIPS PAGE*/

     .tipsPictureClass{
        height: 250px;
    }
}

/*MAX-WIDTH 768PX*/

@media only screen and (min-width: 481px) and (max-width: 768px) {

    #frontPicture{
        background-color: inherit;
        height: 290px;
    }

    .blackHeadingBig{
        font-size: 2.5em;
    }
    
    /*TOP NAVIGATION*/
    .topNavClass{
        
    }

    .whiteLettersTopNav{
        width: 3.7em;
    }
    
    /*BOTTOM NAVIGATION*/

    .bottomNavClass{
        height: 250px;
    }

    .bottomLogoClass{
        display: none;
    }

    /*#bottomLogoSmaller{
        display: block;
    }*/

    .bottomLogoSmallerClass{
        display: block;
    }

    .bottNavIconsDim{
        font-size: 2.8em;
        flex-basis: 35%;
    }

    #iconINST{
        display: none;
    }

    #iconINST3{
        display: block;
    }

    .borderSocial{
        height: 120px;
        margin-top: 4em;
    }

    .bottomNavGrid1{
        /*border: thin solid red;*/
        text-align: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 75% 25%;
    }

    .inputNewsL{
        width: 23vw;
        height: 17px;
    }

    .formNewsL{
        margin: 3em 0 0 0;
    }

    .whgBottNav{
        font-size: 1.2em;
    }

    .bottNavLinks{
        text-align: left;
    }

    .bottLinks{
        font-size: 0.7em;
        padding: 0 0 0 0;
        margin: 0 0 0 0.5em;
    }

    .smallBorder{
        margin: 0 0 0 0.5em;
    }

    /*HOME GRID*/

    #homeGrid{
        height: auto;
    }

    .homeGrids{
        width: 48vw;
        height: 350px;
    }

    .homeGridsPic{
        
    }

    .whiteHeadingGridsHP{
        font-size: 1.6em;
    }

    .whiteLettersGridText{
        font-size: 0.8em;
    }

    #hg512Pic1{
        display: none;
    }

    #hg370Pic1{
        display: block;
    }

    #hg512Pic2{
        display: none;
    }

    #hg370Pic2{
        display: block;
    }

    #hg512Pic3{
        display: none;
    }

    #hg370Pic3{
        display: block;
    }

    /*CONTACT PAGE*/

    #socialNetworkDiv{
        display: none;
    }

    /*PRODUCT CATEGORIES*/

    #imgCat1{
        display: none;
    }

    #imgCat11{
        /*visibility: visible;*/
        display: block;
    }

    #imgCat2{
        display: none;
    }

    #imgCat21{
        /*visibility: visible;*/
        display: block;
    }

    #imgCat3{
        display: none;
    }

    #imgCat31{
        /*visibility: visible;*/
        display: block;
    }

    /*PRODUCT CARDS*/

    .whiteHeadingGrids{
        font-size: 1.4em;
    }

    .whiteLettersItalic{
        font-size: 1.1em;
    }

    .whiteLettersDesc{
        position: relative;
        bottom: 0.6em;
    }

    .descOpen{
        position: relative;
        bottom: 0.6em;
    }

    .descCard{
        width: 100%;
    }

    .modalDesc{
        left: 33em;
        bottom: 27.1em;
        height: 405px;
    }

    .modalPic{
        width: 70%;
    }

    .products{
        width: 35vw;
    }

    /*BLOG PAGE*/

    #blogMiddle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    #inTrendHeading{
        /*border: thin solid red;*/
        width: 99%;
    }

    #blogTopDiv{
        
    }

    .bTopClass{
        height: auto;
    }

    #diyHeading{
        /*border: thin solid red;*/
        width: 99%;
    }

    #blogMiddleDiv{
        display: flex;
        flex-direction: column;
        height: 1500px;
    }

    .diyStepClass{
        height: 100%;
    }

    #diyDown1{
        font-size: 1.3em;
        text-align: center;
    }

    #diyUp2{
        font-size: 1.3em;
        text-align: center;
    }

    #diyDown3{
        font-size: 1.3em;
        text-align: center;
    }

    .stepTxtClass{
        font-size: 1.3em;
    }

    #future3Heading{
        justify-content: space-around;
        margin-bottom: 0.5em;
        font-size: 1.3em;
    }

    .smallUnderHeadingBlog{
        font-size: 1.2em;
    }

    #nextTrendsHeading{
        margin-left: 0;
    }

    #advicesHeading{
        margin-left: 0;
    }

    #blogBottomDiv{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .blackTextBlog{
        font-size: 1.3em;
    }

    .blackTextBlogEnd{
        font-size: 1.3em;
    }

    .blackHeadingTipsList{
        font-size: 1.5em;
    }

    .orangeHeading{
        font-size: 1.5em;
    }

    /*IN TREND PAGE*/

    .inTrendPictureClass{
        height: 300px;
    }

    /*DIY PAGE*/

    .diyPageStepsClass{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #diyPageStep1{
        display: flex;
        text-align: justify;
    }

    #diyPageStep2{
        display: flex;
    }

    #diyPageStep3{
        display: flex;
        text-align: justify;
    }

    .diyPageImgClass{
        width: 93%;
        margin-left: 1em;
    }

    #diyStep1H{
        margin: auto;
    }

    #diyStep2H{
        margin: auto;
    }

    #diyStep3H{
        margin: auto;
    }

    /*FUTURE TRENDS PAGE*/

    .futureTrendPictureClass{
        height: 450px;
    }

    .futureTrendTextClass{
        text-align: justify;
    }

    /*TOP LISTS PAGE*/

    .middleListPicture{
        height: 250px;
    }

     /*GIFTING TIPS PAGE*/

     .tipsPictureClass{
        height: 450px;
    }
}

/*MAX-WIDTH 1024PX*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #frontPicture{
        background-color: inherit;
        margin-top: 2.5em;
        height: 390px;
    }
    
    /*TOP NAVIGATION*/

    .whiteLettersTopNav{
        font-size: 1.3em;
        width: 4em;
    }
    
    .topNavClass{
        
    }

    /*BOTTOM NAVIGATION*/

    .bottNavIconsDim{
        flex-basis: 35%;
    }

    /*HOME GRID*/

    .homeGrids{
        height: 400px;
        width: 48.5vw;
    }

    .whiteHeadingGridsHP{
        font-size: 2em;
    }

    #hg512Pic1{
        display: none;
    }

    #hg420Pic1{
        display: block;
        margin: auto;
    }

    #hg512Pic2{
        display: none;
    }

    #hg420Pic2{
        display: block;
        margin: auto;
    }

    #hg512Pic3{
        display: none;
    }

    #hg420Pic3{
        display: block;
        margin: auto;
    }
    
    /*PRODUCT CARDS*/

    .products{
        width: 30vw;
    }

    .descCard{
        width: 100%;
    }

    .modalDesc{
        left: 40em;
        height: 480px;
        bottom: 31.9em;
    }

    /*BLOG PAGE*/

    .blackHeadingBlog{
        font-size: 2em;
    }

    .blackHeadingBlogEnd{
        font-size: 2em;
        margin-left: 45.5%;
    }

    .blackHeadingTipsList{
        font-size: 1.3em;
    }

    .orangeHeading{
        font-size: 1.3em;
    }

    .blackTextBlog{
        
    }

    .blackTextBlogEnd{
        
    }

    #blogMiddle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    #inTrendHeading{
        
        padding-top: 0.5em;
    }

    #blogTopDiv{
        flex-direction: row;
        justify-content: space-around;
        height: 550px;
    }

    .bTopClass{
        width: 35vw;
        height: 540px;
        margin-left: 1em;
    }

    #blogMiddleDiv{
        height: 400px;
    }

    #diyHeading{
        width: 100%;
    }

    #future3Heading{
        margin-bottom: 0.5em;
        justify-content: space-evenly;
    }

    /*IN TREND PAGE*/

    .arrowBlog{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.5em;
        height: 2em;
        margin-top: 1em;
     }

    .bottomNavClass{
        height: 340px;
    }

    /*FUTURE TRENDS PAGE*/

    .futureTrendPictureClass{
        height: 550px;
    }

    .futureTrendTextClass{
        text-align: justify;
    }

    /*TOP LISTS PAGE*/

    .middleListPicture{
        height: 350px;
    }

     /*GIFTING TIPS PAGE*/

     .tipsPictureClass{
        height: 550px;
    }

}

@media only screen and(min-width: 1025px) and (max-width: 1439px) {

}


/*MIN WIDTH 1440PX MAX-WIDTH 2559PX*/

@media only screen and (min-width: 1440px) and (max-width: 2559px) {
    
    .whiteLettersTopNav{
        font-size: 1.6em;
    }

    /*NAVIGATION BARS*/

    .topNavClass{
        width: 99%;
    }

    /*bottom navigation bar*/

    .borderSocial{
        height: 200px;
    }

    .formNewsL{
        margin: 6em 0 0 0;
    }

    /*HOME GRID*/

    .whiteHeadingGridsHP{
        font-size: 2.5em;
    }

    .whiteLettersGridText{
        font-size: 1.2em;
    }

    #frontPicture{
        margin-top: 2em;
    }

    .homeGrids{
        height: 500px;
    }
    
    /*BLOG*/
    
    #inTrendHeading{
        /*border: thin solid red;*/
        height: 100px;
        padding-top: 1em;
    }

    #blogTopDiv{
        justify-content: space-around;
    }

    .bTopClass{
        width: 30vw;
        margin-left: 0;
    }

    #blogMiddle{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #blogMiddleDiv{
        height: 500px;
    }

    #future3Heading{
        padding-bottom: 1em;
        justify-content: space-evenly;
    }

    #blogBottomDiv{
        height: 1500px;
    }

    /*IN TREND PAGE*/

    .arrowBlog{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.5em;
        height: 3em;
     }

    /*PRODUCTS*/

    #productsCat{
        margin-top: 2.5em;
    }

    .products{
        
    }

    .descCard{
        width: 100%;
    }

    .modalPic{
        width: 50%;
    }

    .modalDesc{
        height: 540px;
        bottom: 35.8em;
        left: 56em;
    }

    #bottomNav{
        height: 400px;
    }

}

/**********************************MIN WIDTH 2560PX************************************/

@media only screen and (min-width: 2560px) {
     

    #frontPicture{
        display: none;
        background-color: inherit;
        height: 720px;
        margin-top: 4em;
    }

    #frontPicture2{
        display: flex;
        justify-content: center;
        margin-top: 4em;
    }

    .frontPicSlides{
        margin: auto;
    }
    
    .whiteHeadingGridsCat{
        font-size: 2em;
        /*margin: auto;*/
     }

     .whiteHeadingGridsHP{
        font-size: 4em;
     }

     .whiteHeadingProducts{
        font-size: 3em;
     }

     .whiteLettersItalic{
        font-size: 2em;
     }

     .whiteLettersDesc{
        font-size: 1.5em;
     }

     .descOpen{
        font-size: 1.5em;
     }

     .descClose{
        font-size: 2em;
     }

     .whiteLettersGridText{
        font-size: 1.8em;
     }

     .blackHeading{
        font-size: 3em;
     }

     .blackHeadingBlogBig{
        font-size: 4em;
     }

     .blackHeadingBlog{
        font-size: 2.2em;
     }

     .blackLettersDescBig{
        font-size: 2.1em;
     }

     .stepTxtClass{
        font-size: 1.5em;
     }

     .blackHeadingBlogEnd{
        font-size: 2.2em;
     }

     .smallUnderHeadingBlog{
        font-size: 1.7em;
     }

     .underHeadingBlog{
        font-size: 2em;
     }

     .blackTextBlog{
        font-size: 1.7em;
     }

     .blackTextBlogEnd{
        font-size: 1.7em;
     }

     .blackHeadingTipsList{
        font-size: 2.2em;
     }

     .orangeHeading{
        font-size: 2.2em;
     }

     /*NAVIGATION BARS*/

     #logoRegular{
        display: none;
     }

     .blackLettersBackForward{
        font-size: 2em;
        padding: 1em;
     }
     
     #logoBig{
        display: block;
     }
     
     .topNavClass{
        width: 99.5%;
     }

     #leftDivTopNav{
        align-items: center;
     }

     #rightDivTopNav{
        align-items: center;   
     }

     .whiteLettersTopNav{
        font-size: 1.9em;
     }

     /*bottom navigation bar*/

     .whgBottNav{
        font-size: 2.5em;
     }
     
     .bottomNavClass{
        height: 600px;
     }

     .borderSocial{
        height: 350px;
     }

     .bottLinks{
        font-size: 1.5em;
     }

     .formNewsL{
        margin: 9em 0 0 0;
     }

     .inputNewsL{
        font-size: 2em;
        height: auto;
        width: auto;
     }

     .inputNewsLBtn{
        font-size: 2em;
     }

     .bottNavIconsDim{
        font-size: 5.5em;
     }

     #iconINST{
        display: none;
     }

     #iconINST2{
        display: block;
     }

     .bottomLogoClass{
        transform: scale(1.5);
     }

     /*HOME GRID*/

     .homeGrids{
        
     }

     /*GIFTS PAGE*/

     #productsCat{
        margin: 4.4em 0 0 2.7em;
     }

     .modalPic{
        width: 40%;
     }

     /*PRODUCTS*/

     .productsBodyClass{
        
     }

     .modal{
        height: 100%;
     }

     .modalDesc{
        position: relative;
        left: 100em;
        bottom: 50em;
        height: 760px;
     }

     /*FRUIT BASKETS PAGE*/

     .products{
        height: 650px;
    
     }

     .productsPicCont{
        display: flex;
        justify-content: center;
     }

     #picture1Regular{
        display: none;
     }

     #picture1Big{
        display: block;
     }

     #picture2Regular{
        display: none;
     }

     #picture2Big{
        display: block;
     }

     #picture3Regular{
        display: none;
     }

     #picture3Big{
        display: block;
     }

     .descCard{
        width: 100%;
     }

     .blackLettersDesc{
        font-size: 1.5em;
     }

     /*GIFT COLLECTIONS PAGE*/

     #picture101Regular{
        display: none;
     }

     #picture101Big{
        display: block;
     }

     #picture102Regular{
        display: none;
     }

     #picture102Big{
        display: block;
     }

     #picture103Regular{
        display: none;
     }

     #picture103Big{
        display: block;
     }

     #picture104Regular{
        display: none;
     }

     #picture104Big{
        display: block;
     }

     #picture105Regular{
        display: none;
     }

     #picture105Big{
        display: block;
     }

     #picture106Regular{
        display: none;
     }

     #picture106Big{
        display: block;
     }

     /*SPECIAL OCCASIONS PAGE*/

     #picture201Regular{
        display: none;
     }

     #picture201Big{
        display: block;
     }

     #picture202Regular{
        display: none;
     }

     #picture202Big{
        display: block;
     }

     #picture203Regular{
        display: none;
     }

     #picture203Big{
        display: block;
     }

     /*BLOG*/

     #inTrendHeading{
        margin-top: 1em;
        height: 150px;
     }

     #blogTopDiv{

     }

     .bTopImgClass{
        height: 500px;
     }

     .bTopClass{
        height: 900px;
     }

     #blogMiddleDiv{
        height: 800px;
     }

     #future3Heading{
        padding-bottom: 0.5em;
     }

     #blogBottomDiv{
        height: 2500px;
     }

     .arrowBlog{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 2em;
        height: 2em;
     }

}
