/****************************************************************
**************************MEDIA QUERIES**************************
****************************************************************/

@keyframes bendRight {
    50% {transform: rotate(15deg);}
}

@keyframes bendLeft{
    50% {transform: rotate(-15deg);}
}

/*MAX-WIDTH 280PX ORIENTATION PORTRAIT*/

#topNav1{
    display: none;
}

.topNavClass1{
    background-color: black;
    border-radius: 0.5em;
    width: 94%;
    height: 10vh;
    position: fixed;
    top: 1;
    z-index: 2;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.classDropdownMenu{
    background-color: black;
    border: thin solid aquamarine;
    border-radius: 0.5em;
    display: none;
    width: 50vw;
    height: 36vh;
    z-index: 3;
    position: fixed;
    top: 5em;
    left: 0.5em;
}

#topNav11{
    display: none;
}

.topNavClas11{

}

.whiteLettersTopNav1{
    font-family: Aleo;
    color: white;
    font-size: 1.3em;
    margin: 0 0 0 1.6em;
}

.hr1{
    width: 40vw;
    color: white;
}

.whiteIcons{
    color: white;
    font-size: 2.4em;
}

#frontPicture1{
    display: none;
    background-color: gray;
    width: 100%;
    height: 50vh;
}



#homeGridA{
        display: none;
    }

.classHomeGridA{
    /*background-color: gray;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    width: 100%;
    height: 225vh;
}


.homeGridsA{
    background-color: black;
    border-radius: 0.5em;
    width: 100%;
    height: 73vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 43% 57%;
    }

.classGridPic1{
    text-align: center;
    }
    
.pics1{
    margin: 0 0 0 0;
    border-radius: 0.5em;
}

#idBottomNav1{
    display: none;
}

.classBottomNav1{
    background-color: black;
    border-radius: 0.5em;
    width: 100%;
    height: 142vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
}

.classGridBotNav1{
    /*border: thin solid red;*/
    width: 100%;
    height: 45vh;
}

#idGridBotNav3{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
}

.bottNavIconsDim1{
    font-size: 3.5em;
    margin: 0 0 0 0.5em;
}

.formNewsL1{
    text-align: center;
}

.inputNewsL1{
    width: 60vw;
    height: 3.5vh;
}

.inputNewsLBtn1{
    font-size: 1em;
}

.classBotNavLinks1{
    /*border: thin solid yellow;*/
}

.bottLinks1{
    font-family: Aleo;
    color: white;
    margin: 0 0 0 0.9em;
}

.bottLinks11{
    font-family: Aleo;
    color: white;
    margin: 0 0 0 1.3em;
}

.smallBorder1{
    border-left: thin solid white; 
    margin: 0 0 0 0.9em;
}

.logoDivBotNav1{
    text-align: center;
}

.logoBotNav1{
    position: relative;
    top: 0.5em;
}

/*CONTACT PAGE*/

#borderDiv1{
    display: none;
    border-top: thick solid black;
    width: 100%;
}

.headingQuestions1{
    display: none;
}

/*PRODUCT CATEGORIES, GIFTS PAGE*/

#imgCat11{
    visibility: hidden;
}

#imgCat21{
    visibility: hidden;
}

#imgCat31{
    visibility: hidden;
}

#productsCat1{
    display: none;
}

.productsCat1Class{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 100%;
}

.catGrid1{
    background-color: black;
    width: 100%;
    height: 83vh;
    border-radius: 0.3em;
    margin: 0 0 1em 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 23% 38.5% 38.5%;
}

.productGridPic1{
    border: thin solid green;
}

.whiteLettersGridText1{
        color: white;
        font-family: Aleo;
        font-size: 1.2em;
        text-align: center;
        margin: 1em;
}

.test{
    border: thin solid red;
}

.test1{
    border: thin solid yellow;
}










/*SMALL*/

@media only screen and (max-width: 280px) {


    .blackHeadingBig{
        font-size: 2em;
    }

    .blackHeading{
        font-size: 1.5em;
    }
    
    /*TOP NAVIGATION*/
    .topNavClass{
        display: none;
    }

    #topNav1{
        display: block;
    }

    /*FRONT PICTURE*/
    #frontPicture{
        display: none;
    }

    #frontPicture1{
        display: block;
    }

    /*HOME GRID*/

    #homeGrid{
        display: none;
    }

    #homeGridA{
        display: block;
    }


    /*BOTTOM NAVIGATION*/
    .bottomNavClass{
        display: none;
    }
    
    #idBottomNav1{
        display: block;
    }

    .bottNavIconsDim1{
        animation: bendLeft 3s infinite 1s;
    }

    /*PRODUCTS CATEGORIES, GIFTS PAGE*/

    #productsCat{
        display: none;
    }

    #productsCat1{
        display: block;
    }

    /*CONTACT PAGE*/
    #socialNetworkDiv{
        display: none;
    }

    #contactGrid{
        display: grid;
        grid-template-rows: 46% 5% 46%;
        grid-template-columns: 100%;
        gap: 1em;
        margin: 1em;
    }

    #borderDiv{
        display: none;
    }

    #borderDiv1{
        display: block;
    }

    #idHeadingQuestions1{
        display: none;
    }

    .headingQuestions1{
        display: block;
    }

    /* ABOUT US PAGE*/

    #idQuestions{
        display: block;
    }

    .carousel-items{
        width: 45vw;
        height: 20vh;
    }

    /*CATEGORIES*/

    .productsDiv3Class{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        width: 100%;
        height: 200vh;
        margin: 0;
    }

    .products{
        width: 100%;
        position: relative;
    }

    .descCard{
        width: 100%;
        top: 15.2em;
    }

    .descCard1{
        width: 100%;
        top: 15.2em;
    }

    .productsDiv6Class{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        width: 100%;
        height: 400vh;
        margin: 0;
    }

    .modal{
        width: 100%;
        height: auto;
    }

    .modalPic{
        width: 100%;
        height: auto;
    }

    .modalDesc{
        width: 100%;
        height: auto;
        position: relative;
        left: 0em;
        bottom: 1.3em;
    }

    /*BLOG PAGE*/

    #inTrendHeading{
        /*border: thin solid red;*/
        width: 80vw;
        height: 10vh;
        margin-left: 0.3em;
    }

    #blogMiddle{
        /*grid-template-rows: 3% 27% 3% 16% 10% 41%;
        display: block;*/
        display: flex;
        flex-direction: column;
        height: auto;
        
    }

    #blogTopDiv{
        flex-direction: column;
        height: 265vh;
        justify-content: space-between;
    }

    .bTopClass{
        width: 92.5vw;
        height: 85vh;
        margin-left: 0;
    }

    .bTopImgClass{
        width: 80vw;
    }

    #blogMiddleDiv{
        display: flex;
        flex-direction: column;
    }

    #bottTop{
        display: block;
    }

    .bottSectionsGrid1{
        display: block;
    }

    .bottSectionsGrid2{
        display: block;
    }

    .blackHeadingBlogEnd{
        margin-left: 22%;

    }

    .sectionImgClass{
        height: 40vh;
    }

    #diyHeading{
        /*border: thin solid red;*/
        width: 60vw;
    }

    .diyStepClass{
        display: flex;
        flex-direction: column;
    }

    #future3Heading{
        display: block;
        height: 20vh;
    }

    .smallBorderBlack{
        display: none;

    }

    #nextTrendsHeading{
        margin-left: 2em;
    }

    #topListsHeading{
        margin-left: 4em;
    }

    #advicesHeading{
        margin-left: 1.5em;
    }

    #blogBottomDiv{
        display: block;
    }

    #bBottomLeft{
        display: block;
    }

}

/*MAX-WIDTH 320PX*/
@media only screen and (min-width: 281px) and (max-width: 320px) {
    .blackHeadingBig{
        font-size: 2.5em;
    }
    
    /*TOP NAVIGATION*/
    .topNavClass{
        display: none;
    }

    #topNav1{
        display: block;
    }

    .topNavClass1{
        width: 95.05%;
    }

    .classDropdownMenu{
        height: 44vh;
    }

    /*BOTTOM NAVIGATION*/
    .bottomNavClass{
        display: none;
    }
    
    #idBottomNav1{
        display: block;
    }

    /*HOMEPAGE GRID*/
    
    #homeGrid{
        display: none;
    }

    #homeGridA{
        display: block;
        height: 180vh;
    }

    .homeGridsA{
        height: 55vh;
    }

    .pics1{
        padding: 1em;
        border-radius: 2em;
    }

    /*ABOUT US*/

    #idQuestions{
        display: block;
    }

    .carousel-items{
        width: 45vw;
        height: 20vh;
    }

    /*CONTACT*/

    #socialNetworkDiv{
        display: none;
    }

    #contactGrid{
        display: grid;
        grid-template-rows: 46% 5% 46%;
        grid-template-columns: 100%;
        gap: 1em;
        margin: 1em;
    }

    #borderDiv{
        display: none;
    }

    #borderDiv1{
        display: block;
    }

    /*PRODUCTS CATEGORIES, GIFTS PAGE*/

    #productsCat{
        display: none;
    }

    #productsCat1{
        display: block;
    }

    /*CATEGORIES*/

    .productsDiv3Class{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        width: 100%;
        height: 150vh;
        margin: 0;
    }

    .products{
        width: 100%;
        height: 40vh;
        position: relative;
    }

    .descCard{
        width: 100%;
        height: 13vh;
        top: 15.2em;
    }

    .descCard1{
        width: 100%;
        height: 13vh;
        top: 15.2em;
    }

    .descCard11{
        top: 15.5em;
        width: 100%;
        height: 13vh;
    }

    .descCard2{
        top: 15em;
        width: 100%;
        height: 14vh;
    }

    .productsDiv6Class{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        width: 100%;
        height: 250vh;
        margin: 0;
    }

    .modal{
        width: 100%;
        height: auto;
    }

    .modalPic{
        width: 100%;
        height: auto;
    }

    .modalDesc{
        width: 100%;
        height: auto;
        position: relative;
        left: 0em;
        bottom: 1.3em;
    }

    /*BLOG PAGE*/

    #inTrendHeading{
        /*border: thin solid red;*/
        width: 99%;
        margin-top: 0.3em;
    }

    #blogMiddle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }


    #blogTopDiv{
        flex-direction: column;
        justify-content: space-between;
        height: 205vh;
    }

    .bTopClass{
        margin-left: 0;
        width: 99%;
        height: 65vh;
    }

    .bTopImgClass{
        width: 90%;
    }

    #diyHeading{
        /*border: thin solid red;*/
        width: 99%;
    }

    #blogMiddleDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 120vh;
    }

    .diyStepClass{
        display: flex;
        flex-direction: column;
    }

    #future3Heading{
        /*border: thin solid red;*/
        flex-direction: column;
    }

    #nextTrendsHeading{
        margin-left: 1em;
    }

    #advicesHeading{
        margin-left: 1em;
    }

    #blogBottomDiv{
        display: flex;
        flex-direction: column;
    }

    #bBottomLeft{
        display: flex;
        flex-direction: column;
    }

    #bBottomRight{
        display: flex;
        flex-direction: column;
    }

    #bottTop{
        display: block;
    }

    #bottBottom{
        display: block;
    }

    .bottSectionsGrid1{
        display: block;
    }

    .bottSectionsGrid2{
        display: block;
    }

    .sectionImgClass{
        height: 30vh;
    }

    .blackHeadingBlogEnd{
        margin-left: 33%;
    }
}


/*MAX-WIDTH 480PX*/

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .blackHeadingBig{
        font-size: 3em;
    }
    
    /*TOP NAVIGATION*/
    .topNavClass{
        display: none;
    }

    #topNav1{
        display: block;
    }

    .topNavClass1{
        width: 96.75%;
    }

    .classDropdownMenu{
        height: 39vh;
        width: 34vw;
    }

    .hr1{
        width: 31vw;
    }
    
    /*BOTTOM NAVIGATION*/
    .bottomNavClass{
        display: none;
    }
    
    #idBottomNav1{
        display: block;
        text-align: center;
    }

    #iconFB{
        position: relative;
        right: 0.7em;
        animation: bendLeft 3s infinite 1s;
    }

    #iconINST{
        position: relative;
        right: 0.6em;
    }

    #iconPINT{
        position: relative;
        right: 1em;
    }

    /*HOMEPAGE GRID*/
    
    #homeGrid{
        display: none;
    }

    #homeGridA{
        display: block;
        height: 160vh;
    }

    .homeGridsA{
        height: 50vh;
    }

    .pics1{
        padding: 1em;
        border-radius: 2em;
    }

    /*CONTACT*/

    #socialNetworkDiv{
        display: none;
    }

    #contactGrid{
        display: grid;
        grid-template-rows: 46% 5% 46%;
        grid-template-columns: 100%;
        gap: 1em;
        margin: 1em;
    }

    #borderDiv{
        display: none;
    }

    #borderDiv1{
        display: block;
    }

    /*PRODUCTS CATEGORIES, GIFTS PAGE*/

    #productsCat{
        display: none;
    }

    #productsCat1{
        display: block;
    }

    /*CATEGORIES*/

    .productsDiv3Class{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        width: 100%;
        height: 140vh;
        margin: 0;
    }

    .products{
        width: 85%;
        height: 40vh;
        position: relative;
    }

    .descCard{
        width: 100%;
        height: 13vh;
        top: 15.2em;
    }

    .descCard1{
        width: 100%;
        height: 13vh;
        top: 15.2em;
    }

    .descCard11{
        top: 15em;
        width: 100%;
        height: 13.4vh;
    }

    .descCard2{
        top: 15em;
        width: 100%;
        height: 14vh;
    }

    .productsDiv6Class{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        width: 100%;
        height: 220vh;
        margin: 0;
    }

    .modal{
        width: 100%;
        height: auto;
    }

    .modalPic{
        width: 100%;
        height: auto;
    }

    .modalDesc{
        width: 100%;
        height: auto;
        position: relative;
        left: 0em;
        bottom: 1.3em;
    }

    /*ABOUT US*/

    .carousel-items{
        width: 21vw;
    }

    /*BLOG PAGE*/

    #blogMiddle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    #inTrendHeading{
        /*border: thin solid red;*/
        width: 99%;
        margin-top: 0.4em;
    }

    #blogTopDiv{
        flex-direction: column;
        justify-content: space-between;
        height: 205vh;
    }

    .bTopClass{
        height: 65vh;
        width: 99.5%;
        margin-left: 0;
    }

    .bTopImgClass{
        width: 90%;
    }

    #diyHeading{
        /*border: thin solid red;*/
        width: 99%;
    }

    #blogMiddleDiv{
        display: flex;
        flex-direction: column;
    }

    .diyStepClass{
        display: flex;
        flex-direction: column;
    }

    #future3Heading{
        /*border: thin solid red;*/
        margin-bottom: 0.5em;
        flex-direction: column;
        justify-content: space-between;
    }

    #nextTrendsHeading{
        margin-left: 1em;
    }

    #advicesHeading{
        margin-left: 1em;
    }

    #blogBottomDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #bBottomLeft{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #bBottomRight{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150vh;
    }

    .bottRposts{
        height: 30vh;
    }

    #bottTop{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #bottBottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bottSectionsGrid1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bottSectionsGrid2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sectionImgClass{
        height: 30vh;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
    
}

/*MAX-WIDTH 768PX*/

@media only screen and (min-width: 481px) and (max-width: 768px) {

    /*TOP NAVIGATION*/
    .topNavClass{
        height: 9vh;
    }
    
    /*BOTTOM NAVIGATION*/

    .bottomNavClass{
        height: 34vh;
    }

    .bottomLogoClass{
        display: none;
    }

    /*#bottomLogoSmaller{
        display: block;
    }*/

    .bottomLogoSmallerClass{
        display: block;
    }

    .bottNavIconsDim{
        font-size: 3em;
    }

    #iconINST{
        display: none;
    }

    #iconINST1{
        display: block;
    }

    .borderSocial{
        height: 15vh;
    }

    .bottomNavGrid1{
        /*border: thin solid red;*/
        text-align: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 75% 25%;
    }

    .inputNewsL{
        width: 23vw;
    }

    /*HOME GRID*/

    #homeGrid{
        height: 140vh;
    }

    /*CONTACT PAGE*/

    #socialNetworkDiv{
        display: none;
    }

    /*PRODUCT CATEGORIES*/

    #imgCat1{
        display: none;
    }

    #imgCat11{
        visibility: visible;
    }

    #imgCat2{
        display: none;
    }

    #imgCat21{
        visibility: visible;
    }

    #imgCat3{
        display: none;
    }

    #imgCat31{
        visibility: visible;
    }

    /*PRODUCT CARDS*/

    .whiteHeadingGrids{
        font-size: 1.4em;
    }

    .whiteLettersItalic{
        font-size: 1.1em;
    }

    .whiteLettersDesc{
        position: relative;
        bottom: 0.6em;
    }

    .descOpen{
        position: relative;
        bottom: 0.6em;
    }

    .descCard{
        height: 10.6vh;
        width: 29.99vw;
    }

    .descCard1{
        height: 10.6vh;
        width: 29.99vw;
    }

    .descCard11{
        top: 68em;
        height: 10.6vh;
        width: 29.99vw;
    }

    .descCard2{
        height: 10.6vh;
        width: 29.99vw;
        top: 39.2em;
    }

    .products{
        height: 37vh;
        width: 30vw;
    }

    /*BLOG PAGE*/

    #blogMiddle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    #inTrendHeading{
        /*border: thin solid red;*/
        width: 99%;
    }

    #blogTopDiv{
        
    }

    .bTopClass{
        height: auto;
    }

    #diyHeading{
        /*border: thin solid red;*/
        width: 99%;
    }

    #blogMiddleDiv{
        display: flex;
        flex-direction: column;
        height: 150vh;
    }

    .diyStepClass{
        height: 100%;
    }

    #diyDown1{
        font-size: 1.3em;
        text-align: center;
    }

    #diyUp2{
        font-size: 1.3em;
        text-align: center;
    }

    #diyDown3{
        font-size: 1.3em;
        text-align: center;
    }

    .stepTxtClass{
        font-size: 1.3em;
    }

    #future3Heading{
        justify-content: space-around;
        margin-bottom: 0.5em;
        font-size: 1.3em;
    }

    .smallUnderHeadingBlog{
        font-size: 1.2em;
    }

    #nextTrendsHeading{
        margin-left: 0;
    }

    #advicesHeading{
        margin-left: 0;
    }

    #blogBottomDiv{
        display: flex;
        flex-direction: column;
    }

    .blackTextBlog{
        font-size: 1.3em;
    }

    .blackTextBlogEnd{
        font-size: 1.3em;
    }

    .blackHeadingTipsList{
        font-size: 1.5em;
    }

    .orangeHeading{
        font-size: 1.5em;
    }
}

/*MAX-WIDTH 1024PX*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /*TOP NAVIGATION*/

    .whiteLettersTopNav{
        font-size: 1.3em;
    }
    
    .topNavClass{
        height: 10vh;
    }
    
    /*PRODUCT CARDS*/

    .products{
        height: 39.5vh;
        width: 30vw;
    }

    .descCard{
        height: 13vh;
        width: 29.99vw;
    }

    .descCard1{
        height: 13.2vh;
        width: 29.999vw;
    }

    .descCard11{
        top: 68em;
        height: 13vh;
        width: 29.999vw;
    }

    .descCard2{
        height: 13vh;
        width: 29.99vw;
    }

    /*BLOG PAGE*/

    .blackHeadingBlog{
        font-size: 2em;
    }

    .blackHeadingBlogEnd{
        font-size: 2em;
        margin-left: 45.5%;
    }

    .blackHeadingTipsList{
        font-size: 1.3em;
    }

    .orangeHeading{
        font-size: 1.3em;
    }

    .blackTextBlog{
        
    }

    .blackTextBlogEnd{
        
    }

    #blogMiddle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    #inTrendHeading{
        width: 100%;
        padding-top: 0.5em;
    }

    #blogTopDiv{
        flex-direction: row;
        justify-content: space-around;
    }

    .bTopClass{
        width: 35vw;
    }

    #blogMiddleDiv{
        height: 41vh;
    }

    #diyHeading{
        width: 100%;
    }

    #future3Heading{
        margin-bottom: 0.5em;
        justify-content: space-evenly;
    }

    .bottomNavClass{
        height: 40vh;
    }

}

@media only screen and(min-width: 1025px) and (max-width: 1439px) {

}


/*MIN WIDTH 1440PX MAX-WIDTH 2559PX*/

@media only screen and (min-width: 1440px) and (max-width: 2559px) {
    
    .whiteLettersTopNav{
        font-size: 1.6em;
    }

    .topNavClass{
        width: 99%;
    }
    
    /*BLOG*/
    
    #inTrendHeading{
        height: 10vh;
        width: 100%;
        padding-top: 1em;
    }

    #blogTopDiv{
        justify-content: space-around;
    }

    .bTopClass{
        width: 30vw;
        margin-left: 0;
    }

    #blogMiddle{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #blogMiddleDiv{
        height: 50vh;
    }

    #future3Heading{
        padding-bottom: 1em;
        justify-content: space-evenly;
    }

    #blogBottomDiv{
        height: 150vh;
    }

    /*PRODUCTS*/

    #productsCat{
        margin-top: 2.5em;
    }

    .products{
        height: 39vh;
    }

    .descCard{
        height: 13vh;
    }

    #bottomNav{
        height: 40vh;
    }

}

/*MIN WIDTH 2560PX*/

@media only screen and (min-width: 2560px) {
     
     .whiteLettersTopNav{
        font-size: 1.9em;
     }

     .blackHeadingBlogBig{
        font-size: 4em;
     }

     .blackHeadingBlog{
        font-size: 2.2em;
     }

     .stepTxtClass{
        font-size: 1.5em;
     }

     .blackHeadingBlogEnd{
        font-size: 2.2em;
     }

     .smallUnderHeadingBlog{
        font-size: 1.7em;
     }

     .underHeadingBlog{
        font-size: 2em;
     }

     .blackTextBlog{
        font-size: 1.7em;
     }

     .blackTextBlogEnd{
        font-size: 1.7em;
     }

     .blackHeadingTipsList{
        font-size: 2.2em;
     }

     .orangeHeading{
        font-size: 2.2em;
     }

     /*NAVIGATION BARS*/

     .topNavClass{
        width: 99.5%;
     }

     #leftDivTopNav{
        align-items: center;
     }

     #rightDivTopNav{
        align-items: center;   
     }

     .whiteHeadingGrids{
        font-size: 2.5em;
     }

     .bottLinks{
        font-size: 1.5em;
     }

     .inputNewsL{
        font-size: 2.5em;
        height: auto;
        width: auto;
     }

     .inputNewsLBtn{
        font-size: 2em;
     }

     /*BLOG*/

     #inTrendHeading{
        width: 100%;
        margin-top: 1em;
     }

     .bTopClass{
        height: 90vh;
     }

     #blogMiddleDiv{
        height: 80vh;
     }

     #future3Heading{
        padding-bottom: 0.5em;
     }

     #blogBottomDiv{
        height: 250vh;
     }
}
